{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Login</h1>
        {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

        <form method="post" action="{% url 'blog:login' %}" class="login-form">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <h3 class="teresa">New to Quillquest?</h3>
        <a href="{% url 'blog:signup' %}">Sign up</a>

    </div>
{% endblock %}
